<div id="backgroundCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="1img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="12img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="2img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="3img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="4img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="5img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="6img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="7img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="8img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="9img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="10img.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="11img.jpg" class="d-block w-100">
    </div>
  </div>
</div>